<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MySetting" value="An Importang string" />
  </appSettings>
  <connectionStrings>
    <add name="MyConnectionString" connectionString=" Data Source=server;             Initial Catalog=pubs;             Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
<!-- 

<configuration>
  <appSettings>
    <add key="MySetting" value="An important string" />
  </appSettings>
</configuration>

-->